@import 'libs/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*,
:before,
:after {
    box-sizing: inherit;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
@import 'base/button';
@import 'blocks/header';
